<IfModule mod_rewrite.c>
    options -Multiviews
    RewriteEngine on
    RewriteBase /mvc/public
    RewriteCond %{Request_FileName} !-d
    RewriteCond %{Request_FileName} !-f
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>